@import 'variables', 'mixins';

.bad-btn-ico {
  height: $ico-base;
  width: $ico-base;
  padding: 0.25rem;
  color: $gray-500;
  border-radius: 50%;
  cursor: pointer;

  &.ico-sm {
    width: $ico-sm;
    height: $ico-sm;
  }
  &.ico-xs {
    width: $ico-sm;
    height: $ico-sm;
  }

  &.gray-400 {
    color: $gray-400;
  }
  &.gray-500 {
    color: $gray-500;
  }

  &:hover {
    background-color: $gray-200;
  }
  &:focus {
    background-color: $gray-300;
  }
}
