<div class="card" *ngIf="!loading">
  <div class="top">
    <ng-content select="[top]"></ng-content>
  </div>
  <div class="media">
    <div class="img">
      <img [alt]="imgAlt" [src]="img" />
    </div>
    <div class="content">
      <div class="title">
        <div class="number">#{{ id }}</div>
        <h2>{{ name | titlecase }}</h2>
      </div>
      <ng-content select="[content]"></ng-content>
    </div>
  </div>
</div>

<div class="card" *ngIf="loading">
  <div class="top"></div>
  <div class="media">
    <list-content-loader></list-content-loader>
  </div>
</div>
