<bad-toolbar>
  <ng-container left>
    <form [formGroup]="form">
      <bad-input
        #input
        aria-label="Search"
        formControlName="query"
        placeholder="Press '/' to search"
      >
        <svg-icon src="assets/svg/search.svg"></svg-icon>
      </bad-input>
    </form>
  </ng-container>
  <ng-container right *ngIf="sort$ | async as sortBy">
    <button bad-btn-ico (click)="sort(sortBy)">
      <svg-icon
        *ngIf="sortBy === 'idDesc'"
        src="assets/svg/sortAsc.svg"
        role="button"
        aria-label="Sort Ascending"
      ></svg-icon>
      <svg-icon
        *ngIf="sortBy === 'idAsc'"
        src="assets/svg/sortDesc.svg"
        role="button"
        aria-label="Ascending"
      ></svg-icon>
    </button>
  </ng-container>
</bad-toolbar>
