@import 'variables', 'mixins';

// I could use grid...
.wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1.25rem;
  justify-content: center;

  @include lg() {
    justify-content: space-between;
  }
}

app-pokemon:nth-child(4n) {
  page-break-after: always;
  break-after: always;
}
