@import 'variables', 'mixins';

$section-width: 33.33%;

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem $body-margin-sm;
  margin: 0 -#{$body-margin-sm};
  background-color: $white;

  @include sm() {
    margin: 0 -#{$body-margin-lg};
    padding: 0.5rem $body-margin-lg;
  }

  & > .section {
    @include flex-center();
  }

  & > .section:first-child {
    justify-content: flex-start;
    width: 75%;
    @include md() {
      width: $section-width;
    }
  }

  & > .section:last-child {
    justify-content: flex-end;
  }
}

.section {
  width: $section-width;
}
